@use 'sass:math';
@import 'common/fonts';
@import 'common/icons';
@import 'common/restet';
@import 'common/variable';
@import 'common/mixins';






body {
  // font-family: 'Inter', sans-serif;
  // font-size: $fontSize;
  font-size: rem(16);
  font-family: 'Sora', sans-serif;
}

h1, h2, h3, h4 {
  color: $titleColor;
}
button {
  border: 0;
  cursor: pointer;
}
fieldset {
  border: 0;
}
// прижать футер
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

// [class*="container"]
.container {
  max-width: $maxWidthContainer;
  // max-width: 1392px;
  margin: 0 auto;
  // padding: 0 1.5rem;
  padding: 0 $containerPadding;
}

.container-fluid {
  max-width: 1833px;
  // padding: 0 40px;
}

// burger---------------------------------------//
.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    // width: 30px;
    flex: 0 0 30px;
    height: 18px;
    background: 0;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transform: all 0.3s ease 0s;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background: #000;
    } 
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}
// <button type="button" class="icon-menu"></button>
.common-btn {
  display: flex;
  flex: 0 0 auto;
  &__item {   
   margin-right: rem(16);
   display: flex;
   &:last-child {
    margin-right: 0;
   }
  }
  &__link {
    padding: rem(14) rem(24);
    border-radius: rem(12);
    text-decoration: none;
    @include adaptiv(16, 14);
    font-weight: 600;
    margin-right: rem(16);
    color: $textColor;
    border: 2px solid $textColor;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $whiteColor;
      // padding: 16px 24px;
      background: $gradientBtn;
      box-shadow: $shadowBlackBtn;
      box-shadow: $shadowWhiteBtn;
      border: 2px solid $priceColor;
    }
    // &_bd {
    //   color: $textColor;
    //   border: 2px solid $textColor;
    // }
    // &_liner {
    //   color: $whiteColor;
    //   padding: 16px 24px;
    //   background: $gradientBtn;
    //   box-shadow: $shadowBlackBtn;
    //   box-shadow: $shadowWhiteBtn;
    // }
  }
}
// Check out the hottest Sale offers
.total-time-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_mb {
    margin: 9px 0;
  }
  &_divider {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #E2E2ED;
  }
  ._icon-time::before {
    margin-right: 12px;
  }
  &__time {
    display: flex;
    align-items: center;
    color: $titleColor;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
  }
  &__price {
    color: #2a27c9;
    background: rgba(42, 39, 201, 0.1);
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 4px
  }
} 
.total-bidding-heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    color: $textColor;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
  }
}
.hottest-offers-btn {
  display: flex;
  text-align: center;
  &_mt {
    margin-top: 43px;
  }
  &_bg {
    .hottest-offers-btn__link {
      background: $gradientBtn;
      color: $whiteColor;
      box-shadow: $shadowWhiteBtn;
      border: 0;
    }
  }
  &__link {
    color: $textColor;
    width: 100%;
    padding: 16px 0;
    font-size: 16px;
    border: 2px solid $textColor;
    border-radius: 12px;
    &_pad {
      padding: 16px 24px;
    }
  }
}
._icon-heart {
  &:before {
    color: #dcdfe9;
    font-size: 14px;
    cursor: pointer;
  }
  &_active:before {
    color: #fb4539;
  }
  &:hover::before {
    color: #fb4539;
  }
}

.total-block {
  &__content {
    width: 46%;
    &_width {
      // width: 100%;
    }
    &_width-jn {
      width: 39%;
    }
    // &_width {}
  }
  &__over {
    color: $serchColor;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
  }
  &__title {
    margin-top: 9px;
    margin-bottom: 27px;
    line-height: 1;
    // font-size: 64px;
    @include adaptiv(64, 30);
    &_fz {
      // font-size: 48px;
      @include adaptiv(48, 22);
    }
  }
  &__text {
    color: $textColor;
    margin-bottom: 57px;
    // font-size: 16px;
    @include adaptiv(16, 13);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    &_jn {
      margin-bottom: 24px;
    }
  }
}
.common-icon-text {
  display: flex;
  margin-bottom: 69px;
  &__item {
    margin-right: 62px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon:before {
    display: inherit;
    font-size: 32px;
  }
  &__title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
  }
  &__text {
    color: $textColor;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
}

@import 'site-parts/header';
@import 'site-parts/auctions';
@import 'site-parts/sapien';
@import 'site-parts/hottest-offers';
@import 'site-parts/tristique-scelerisque';
@import 'site-parts/popular-auctions';
@import 'site-parts/detail-count';
@import 'site-parts/join-now';
@import 'site-parts/pictur-mini';
@import 'site-parts/footer';
@import 'common/media';