.footer {
  min-height: rem(397);
}
.footer-col {
  display: flex;
  &__item {
    width: 33.333%;
    padding: rem(48);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E2E2ED;
  }
  &__text {
    color: $textColor;
    font-size: rem(16);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
}
.footer-support {
  display: flex;
  column-gap: rem(40);
  flex-wrap: wrap;
  &__link {
    color: $textColor;
    font-size: rem(14);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: rem(9);
  margin-bottom: rem(37);
  &__link {
    color: $titleColor;
    font-size: rem(16);
  }
}
.social {
  display: flex;
  gap: rem(25);
  margin-top: rem(70);
  &__link {
    color: $textColor;
  }
  &__icon {
    &:hover {
      color: $priceColor;
    }
  }
}
.footer-news {
  position: relative;
  &__input {
    height: rem(52);
    width: 100%;
    color: $textColor;
    padding: 0 rem(32);
    font-size: rem(16);
    font-weight: 400;
    font-family: 'Inter', sans-serif;

    border: 0;
    border-radius: rem(16);
    background: $whiteColor;
    -webkit-box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.1);
    -moz-box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.1);
    box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.1);
  }
  &__btn {
    position: absolute;
    right: rem(18);
    top: rem(15);
    color: $priceColor;
    background: 0;
    font-size: rem(16);
    font-weight: 800;
  }
}