.hottest-offers-nft {
  margin: rem(150) 0;
}
.hottest-offers {
  display: flex;
  &__col {
    margin-right: rem(24);
    width: 33.333%;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
    &_show {
      overflow: inherit;
    }
  }
}
.hottest-sale-offers {
  padding: rem(40);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #E2E2ED;
  border-radius: rem(20);
  &__title {
    margin-bottom: rem(53);
    @include adaptiv(32, 20);
  }
}
.hottest-sale-offers-carous {
  display: flex;
  column-gap: rem(24);
  &_pa {
    height: 100%;
    width: 100%;
    .hottest-sale-offers-carous__item {
      width: 16.666%;
    }
    .hottest-sale-offers-carous__picture img {
      min-width: 100%;
    }
  }
  .slick-track {
    display: flex;
  }
  &__item {
    width: 100%;
    margin-bottom: rem(64);
    &_opacity {
      opacity: .1;
    }
  }
  &__picture {
    position: relative;
    &_blur-min-1 {
      &::after {
        content: '';
        background: url(../img/hottest-offers/hottest-sale-offers.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem(10);
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    &_blur-min-2 {
      &::after {
        content: '';
        background: url(../img/hottest-offers/fames-habitasesse.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem(10);
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    img {
      position: relative;
      z-index: 1;
      border-radius: rem(20);
    }
  }
  &__title {
    margin: 22px 0;
    @include adaptiv(16, 13);

    /*! autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: 2; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /*! autoprefixer: on */
}
.top-nft {
  &__item {
    display: flex;
    margin-bottom: rem(16);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__picture {
    margin-right: rem(16);
    width: 33%;
    img {
      border-radius: rem(20);
    }
  }
  &__content {
    width: 65%;
  }
  &__title {
    @include adaptiv(16, 13);
  }
}
.get-started-creating {
  background: #060714;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: rem(20);
  &::before {
    content: "";
    background: url(../img/hottest-offers/fingers.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    bottom: rem(80);
    left: 0;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 rem(40) rem(40) rem(40);
  }
  &__title {
    width: 75%;
    color: $whiteColor;
    @include adaptiv(24, 16);
    font-weight: 800;
  }
  &__text {
    width: 75%;
    margin-top: rem(9);
    margin-bottom: rem(47);
    color: $textColor;
    @include adaptiv(14, 12);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
}