.hottest-offers-nft {
  margin: 150px 0;
}
.hottest-offers {
  display: flex;
  &__col {
    margin-right: 24px;
    // width: 448px;
    width: 33.333%;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
    &_show {
      overflow: inherit;
    }
  }
}
.hottest-sale-offers {
  padding: 40px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #E2E2ED;
  border-radius: 20px;
  &__title {
    // width: 99%;
    margin-bottom: 53px;
    // font-size: 32px;
    @include adaptiv(32, 20);
  }
}
.hottest-sale-offers-carous {
  display: flex;
  column-gap: 24px;
  &_pa {
    height: 100%;
    width: 100%;
    .hottest-sale-offers-carous__item {
      width: 16.666%;
    }
    .hottest-sale-offers-carous__picture img {
      min-width: 100%;
    }
  }
  .slick-track {
    display: flex;
  }
  &__item {
    // max-width: 212px;
    // min-width: 205px;
    width: 100%;
    // min-width: 100%;
    margin-bottom: 64px;
    // margin-right: 24px;
    // &:last-child {
    //   margin-right: 0;
    // }
    &_opacity {
      opacity: .1;
    }
  }
  &__content {
    // width: 48%;
  }
  &__picture {
    position: relative;
    &_blur-min-1 {
      &::after {
        content: '';
        background: url(../img/hottest-offers/hottest-sale-offers.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    &_blur-min-2 {
      &::after {
        content: '';
        background: url(../img/hottest-offers/fames-habitasesse.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    img {
      // min-height: 355px;
      position: relative;
      z-index: 1;
      border-radius: 20px;
    }
  }
  &__title {
    margin: 22px 0;
    @include adaptiv(16, 13);

    /*! autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: 2; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /*! autoprefixer: on */
 .slick-list {
  // padding-right: 24px !important;
  // padding-left: 0 !important;
 }
}
.top-nft {
  &__item {
    display: flex;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__picture {
    margin-right: 16px;
    img {
      // max-width: 120px;
      border-radius: 20px;
    }
  }
  &__content {

  }
}
.get-started-creating {
  background: #060714;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  &::before {
    content: "";
    background: url(../img/hottest-offers/fingers.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    bottom: 80px;
    left: 0;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 40px 40px 40px;
  }
  // background: url(../img/hottest-offers/get-started-box.png) no-repeat;
  // background-size: contain;
  // width: 100%;
  // height: 100%;
  // padding: 40px;
  // display: flex;
  // align-items: end;
  // border-radius: 20px;
  &__title {
    width: 75%;
    color: $whiteColor;
    // font-size: 24px;
    @include adaptiv(24, 16);
    font-weight: 800;
  }
  &__text {
    width: 75%;
    margin-top: 9px;
    margin-bottom: 47px;
    color: $textColor;
    // font-size: 14px;
    @include adaptiv(14, 12);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
}