
.join-now {
  margin-top: rem(100);
  margin-bottom: rem(150);
}
.join-now-col {
  background: url(../img/join-now/join-now.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-left: rem(118);
  padding-top: rem(90);
  padding-bottom: rem(90);

  display: flex;
  align-items: end;
  position: relative;

  border-radius: rem(20);
  overflow: hidden;
}
.user {
  display: flex;
  padding: rem(17);
  min-width: rem(460);
  position: relative;
  border: 1px solid #D4D4E2;
  border-radius: rem(21.5);
  &_pos-1 {
    position: absolute;
    top: rem(90);
    right: rem(204);
  }
  &_pos-2 {
    position: absolute;
    top: rem(56);
    right: rem(-284);
  }
  &_pos-3 {
    position: absolute;
    top: rem(220);
    right: rem(36);
  }
  &_pos-4 {
    position: absolute;
    top: rem(360);
    right: rem(252);
  }
  &_pos-5 {
    position: absolute;
    top: rem(377);
    right: rem(-256);
  }
  &::before {
    content: '';
    background: linear-gradient(90deg, rgba(241,241,246,0) 0%, rgba(241,241,246,1) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: rem(21.5);
  }
  &__avatar {
    margin-right: rem(17);
  }
  &__content {
    width: 100%;
  }
  &__title-price {
    display: flex;
    justify-content: space-between;
  }
  &__items-conect {
    display: flex;
    color: $textColor;
    column-gap: rem(22);
  }
  &__title {
    @include adaptiv(17, 12);
    font-weight: 800;
  }
  &__text {
    @include adaptiv(16, 11);
    font-family: 'Inter', sans-serif;
  }
  &__price {
    color: #2a27c9;
    background: rgba(42, 39, 201, 0.1);
    padding: rem(6) rem(10);
    @include adaptiv(13, 10);
    border-radius: rem(4);
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: rem(8);
  }
}