.popular-auctions {
  padding-bottom: rem(100);
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__over {
    color: $serchColor;
    font-size: rem(15);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
  }
  &__title {
    margin-top: rem(10);
    margin-bottom: rem(38);
    @include adaptiv(36, 30);
    font-weight: 800;
  }
}
.popular-auctions-menu {
  display: flex;
  justify-content: center;
  column-gap: rem(16);
  row-gap: rem(15);
  margin-bottom: rem(72);
  &__item {
    padding: rem(8);
    color: $textColor;
    @include adaptiv(16, 12);
    border: 2px solid #E2E2ED;
    border-radius: rem(8);
    cursor: pointer;
    &_active {
      background: $gradientBtn;
      color: $whiteColor;
      box-shadow: $shadowBlackBtn;
      border: 2px solid $whiteColor;
    }
  }
}
.hottest-sale-offers-carous {
  &__picture {
    &_blur-pop-1 {
      &::after {
        content: '';
        background: url(../img/popular-auctions/faucibus-habitasse.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem(10);
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    &_blur-pop-2 {
      &::after {
        content: '';
        background: url(../img/popular-auctions/diam-purus-sagittis.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem(10);
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    &_blur-pop-3 {
      &::after {
        content: '';
        background: url(../img/popular-auctions/nascetur-mauris-viverra.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem(10);
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    &_blur-pop-4 {
      &::after {
        content: '';
        background: url(../img/popular-auctions/amet-maecenas.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem(10);
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    &_blur-pop-5 {
      &::after {
        content: '';
        background: url(../img/popular-auctions/tellus-duis-neque.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem(10);
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
    &_blur-pop-6 {
      &::after {
        content: '';
        background: url(../img/popular-auctions/odio-lacus-neque.jpg) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem(10);
        left: 0;
        opacity: .2;
        filter:blur(25px);
      }
    }
  }
}
