.product {
  padding-bottom: rem(150);
  &__inner {
    padding: rem(24) rem(94) rem(24) rem(24);
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(94);
    border: rem(1) solid #E2E2ED;
    border-radius: rem(20);
  }
  &__item {
  }
  .flex {
    flex: 0 0 38.4%;
  }
  &__picture {
    img {
      border-radius: rem(20);
    }
  }
  &__content {
  }
  &__title {
    padding-bottom: rem(7);
    color: #060714;
    font-weight: 600;
    @include adaptiv(40, 28);
    line-height: 125%;
    letter-spacing: 0.2px;
  }
  &__text {
    color: $textColor;
    font-weight: 400;
    @include adaptiv(16, 14);
    line-height: 150%;
    letter-spacing: 0.2px;
  }
}
.creator {
  padding-top: rem(30);
  padding-bottom: rem(40);
  display: flex;
  gap: rem(30);
  &__item {
    display: flex;
    align-items: center;
    gap: rem(17);
  }
  &__avatar {
  }
  &__content {
    line-height: 1;
  }
  &__name {
    color: $textColor;
    font-weight: 400;
    font-size: rem(14);
    line-height: 150%;
    letter-spacing: 0.2px;
  }
  &__email {
    color: #060714;
    font-weight: 600;
    @include adaptiv(13, 12);
    line-height: rem(16);
    letter-spacing: 0.2px;
  }
}
.social-menu {
  position: absolute;
  top: rem(77);
  right: rem(-29);

  display: flex;
  flex-direction: column;
  gap: rem(16);
  ._icon-heart {
    &::before {
      color: #FB4539;
    }
  }
  ._icon-share, ._icon-copy {
    &::before {
      color: $textColor;
    }
  }
  &__link {
    &::before {
      background-color: $whiteColor;
      border: rem(1) solid #E2E2ED;
      padding: rem(19);
      border-radius: 50%;
      transition: 
        background-color .3s ease 0s,
        color .3s ease 0s;
    }
    &:hover::before {
      background-color: $priceColor;
      color: $whiteColor;
    }
  }
}
.price-time {
  padding: rem(32) rem(40);
  margin-bottom: rem(42);
  background: #F2F3F6;
  border-radius: rem(20);
  &__inner {
    display: flex;
    gap: rem(56);
  }
  &__item {
  }
  &__current {
    padding-bottom: rem(9);
    color: $textColor;
    font-weight: 400;
    font-size: rem(14);
    line-height: 150%;
    letter-spacing: 0.2px;
  }
  &__eth {
    color: #060714;
    font-weight: 600;
    @include adaptiv(56, 35);
    line-height: 100%;
    letter-spacing: 0.2px;
    span {
      font-size: rem(24);
    }
  }
  &__time {
    padding-bottom: rem(6);
    color: #060714;
    font-weight: 600;
    @include adaptiv(24, 18);
    line-height: 100%;
    letter-spacing: 0.2px;
  }
  &__date {
    color: $textColor;
    font-weight: 400;
    font-size: rem(14);
    line-height: 150%;
    letter-spacing: 0.2px;
  }
  &__btn {
    padding-top: rem(35);
    button {
      color: $whiteColor;
      background: $gradientBtn;
      padding: rem(16) 0;
      width: 100%;

      font-weight: 600;
      font-size: rem(16);
      line-height: rem(20);
      letter-spacing: 0.2px;
      box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
      border-radius: rem(12);
      &:hover {
        background: $priceColor;
      }
    }
  }
}
.history {
  &__text {
    color: $textColor;
    font-weight: 400;
    font-size: rem(14);
    line-height: 150%;
    letter-spacing: 0.2px;
  }
  &__schedule {
    padding-top: rem(13);
  }
}
.zoom {
  border-radius: rem(20);
  & img:hover {
    opacity: 0;
  }
  img {
    transition: opacity .5s;
    display: block;
    width: 100%;
  }
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}