%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
  &::before {
    @extend %ic;
    display: block;
  }
}

._icon-arrow:before {
  content: "\e900";
}
._icon-arrow-bottom:before {
  content: "\e901";
}
._icon-artists:before {
  content: "\e902";
}
._icon-artworks:before {
  content: "\e903";
}
._icon-collection:before {
  content: "\e904";
}
._icon-compress-alt:before {
  content: "\e905";
}
._icon-copy:before {
  content: "\e906";
}
._icon-eth-spent:before {
  content: "\e907";
}
._icon-facebook:before {
  content: "\e908";
}
._icon-figures:before {
  content: "\e909";
}
._icon-github:before {
  content: "\e90a";
}
._icon-heart:before {
  content: "\e90b";
}
._icon-insagram:before {
  content: "\e90c";
}
._icon-linkedIn:before {
  content: "\e90d";
}
._icon-logo:before {
  content: "\e90e";
}
._icon-picture:before {
  content: "\e90f";
}
._icon-search:before {
  content: "\e910";
}
._icon-semicircles:before {
  content: "\e911";
}
._icon-share:before {
  content: "\e912";
}
._icon-time:before {
  content: "\e913";
}
._icon-twitter:before {
  content: "\e914";
}
._icon-two-semicircles:before {
  content: "\e915";
}
._icon-user:before {
  content: "\e916";
}
._icon-write:before {
  content: "\e917";
}
