//------------------------------- MAX-WIDTH 1700 ---------------------//
@media (max-width: 1700px) {
  
}
//------------------------------- MAX-WIDTH 1600 ---------------------//
@media (max-width: 1600px) {
  
}
//------------------------------- MAX-WIDTH 1570 ---------------------//
@media (max-width: 1570px) {
  
}
//------------------------------- MAX-WIDTH 1500 ---------------------//
@media (max-width: 1500px) { 
  
}
//------------------------------- MAX-WIDTH 1399.99 desktops ---------------------//
@media (max-width: 1399.99px) {
  
}
//------------------------------- MAX-WIDTH 1199.98 ---------------------//
@media (max-width: 1199.98px) {
  .footer-col {
    &__item {
      padding: 30px;
    }
  }
}
//------------------------------- MAX-WIDTH 991.98 tablets ---------------------//
@media (max-width: $tablet) {
  .common-btn {
    display: none;
  }
  .menu-nav {
    display: none;
  }
  // sapien
  .sapien {
    &__inner {
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
  }
  .total-block {
    &__content {
      width: 100%;
    }
  }
  .hottest-offers {
    flex-wrap: wrap;
    &__col {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  // tristique-scelerisque
  .tristique-scelerisque {
    flex-wrap: wrap;
  }
  // footer
  .footer-col {
    &__item {
      padding: 25px;
    }
  }
}
//------------------------------- MAX-WIDTH 885 ---------------------//
@media (max-width: 885px) {
  
}
//------------------------------- MAX-WIDTH 841 ---------------------//
@media (max-width: 842px) {
  .intro {
    &__title {
      width: 100%;
    }
  }
}
//------------------------------- MAX-WIDTH 767.98 landscape phones ---------------------//
@media (max-width: $mobile) {
  .auctions-carousel {
    &__item {
      padding: 12px;
    }
  }
  .footer-col {
    flex-wrap: wrap;
    &__item {
      width: 100%;
      // padding: 30px;
    }
  }
}
@media (max-width: 646px) {
  
}
//------------------------------- MAX-WIDTH 575.98 portrait phones ---------------------//
@media (max-width: 575.98px) {
  
}
//------------------------------- MAX-WIDTH 500 ---------------------//
@media (max-width: 500px) {
  .auctions-carousel {
    &__item {
      padding: 10px;
    }
  }
  .common-btn {
    &__link {
      padding: 12px 15px;
    }
  }
}
//------------------------------- MAX-WIDTH 418 ---------------------//
@media (max-width: 418px) {
  
}
