*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}

$mobile: 720px;

// burger
// .icon-menu {
//   display: none;
//   @media (max-width: $mobile) {
//     display: block;
//     position: relative;
//     width: 30px;
//     height: 18px;
//     cursor: pointer;
//     z-index: 5;
//     span,
//     &::before,
//     &::after {
//       content: "";
//       transform: all 0.3s ease 0s;
//       left: 0;
//       position: absolute;
//       width: 100%;
//       height: 2px;
//       background: #000;
//     } 
//     &::before {
//       top: 0;
//     }
//     &::after {
//       bottom: 0;
//     }
//     span {
//       top: calc(50% - 1px);
//     }
//     .menu-open & {
//       span {
//         transform: scale(0);
//       }
//       &::before {
//         transform: rotate(-45deg);
//         top: calc(50% - 1px);
//       }
//       &::after {
//         transform: rotate(45deg);
//         bottom: calc(50% - 1px);
//       }
//     }
//   }
// }
// <button type="button" class="icon-menu"></button>