*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}

// $mobile: 720px;



// @media (any-hover: hover) {
//   &:hover {

//   }
// }